/*1-style name and logo */
#logo{
	display: inline-block;
	width: 80px;
	height: 80px;
	margin: 2%;
	position: left top;	

}

/*navigation1*/
#all-nav{
	float: left;
	margin-left: 150px;
	margin-top: -90px;

}

#nav1{
	display: inline-block;
	text-align: center;

	

}


/*navigation2*/
#nav2{
	display: inline-block;
	margin-left: 820px;
	
}


/* unvisited link */
.nav_a,.nav_a1{
	display: inline-block;
	text-align: center;
	text-decoration: none;
	padding: 10px;
	color: black;
	font-size: 20px;

}


/* selected link */
.nav_a:active{
	color:#96281b ;
}
/* mouse over link */
.nav_a:hover{
	background: linear-gradient(to top, #0c3483 0%, #a2b6df 100%, #6b8cce 100%, #a2b6df 100%);
	border-radius: 3px;
}



/* selected link */
.nav_a1:active{
	color:#96281b ;
}
/* mouse over link */
.nav_a1:hover{
	background: linear-gradient(to top, #0c3483 0%, #a2b6df 100%, #6b8cce 100%, #a2b6df 100%);
	border-radius: 3px;
}







/*2-Background */
#background{
	width:1500px;
	height:700px ;

}

/*3-About text*/
#about{
	font-size: 30px;
	text-align: center;
	font-weight: bold;
}


/* the linebreak */
.linebreak{
	height: 4px;
	width: 300px;
	background-color:gray;
	margin-left:600px;
	margin-top: -20px;
	
}

/* the text for about */

#text_about{
	font-size: 25px;
	text-align: left;
	padding-left: 40px;
	margin-left: 40px;
	box-sizing: content-box;
	width: 1300px;

}



/*the service*/
/*1 service*/
/*img*/
.img1{
	display: inline-block;
	margin-left:10px ;
	width: 60px;
	height: 60px;
	margin-top: 1px;



}
/*1 title service*/
.title1{
	display: inline-block;
	font-size: 20px;
	font-weight: bold;
	
	
}
.div-title{
	margin-left:10px ;
	padding-left: 70px;
	margin-top: -50px;

}


/*1 text service*/
.text1{
	font-size: 20px;
	color: gray;
	text-align: left;
	padding-left: 30px;
	margin-left: 20px;
	box-sizing: content-box;
	width: 300px;

	
	
}


.box{
	margin-top: -30px;
	margin-left: -40px;
}

/*div1 service*/
.service{
	display: inline-block;
	margin-top: 15px;
	margin-left: 20px;
	padding-left: 90px;
	margin-right: 4px;

	
}







/* Experiance*/
/*  text Experiance*/
.experiance{
	font-size: 30px;
	text-align: center;
	font-weight: bold;
	padding-top: 40px;
}
/* the background*/
#background_doctor{
	background-color: #F7F7F7;
	height: 700px;
}

/* the background div*/
.big-div-doctor{
	display: inline-block;
	background-color:white;
	width:400px;
	height: 500px;
	margin-left: 50px;
	margin-top: 60px;
	padding-left: 10px;
}


/*imge for doctor*/
.img2{
	display: inline-block;
	width: 200px;
	height: 200px;
	margin-left: 90px;
	margin-top: 20px;
	
}


/*name for doctor*/
.name{
	font-size: 20px;
	text-align: center;
}

.name1{
	font-size: 20px;
	text-align: center;
	margin-top: -18px;

}

/*Icon*/
.icon{
	width: 20px;
	height: 20px;
	padding: 3px;
	
	
}


.div-icon{
	margin-left: 150px;

}


.name2{
	font-size: 20px;
	text-align: center;
	box-sizing: content-box;
	width: 300px;
	
}

.div-name2{
	margin-left: 50px;
}

.div-name{
	margin-left: -10px;
}


/* the clinics*/
/* the img clinics*/
.clinics-img{
	display:inline-block ;
	width: 350px;
	height: 350px;
	margin: 30px;
}
/* the text clinics*/
.text_clinics{
	display: inline-block;
	text-align: center;
	font-size: 25px;
	
}

#div-dep4{
	display: inline-block;
	margin-left: -250px;


}

#div-dep3{
	margin-bottom:70px;
	display: inline-block;
	margin-left: -310px;
	padding-left: 50px;
	padding-right: 60px;

}



#div-dep2{
	display: inline-block;
	margin-left: -350px;
	padding-left: 90px;
	padding-right: 90px;

}

#div-dep1{
	display: inline-block;
	margin-left: -300px;
	padding-left: 35px;
	padding-right: 90PX;
}




.dep{
	display: inline-block;
	margin-right: 90px;
	margin-left: 30px;
}

/*the footer*/
footer{
	background-color: black;
	height: 70px;
}

/*text for footer*/
#text_footer{
	color: white;
	font-size: 30px;
	text-align: center;
	padding-top: 20px;
	
}

